<div class="col-md-12">
  <div class="grouptwo">
    <%= link_to("New grouptwo", new_grouptwo_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @grouptwos.each do |grouptwo| %>
        <tr>
          <td>#</td>
          <td><%= link_to(grouptwo.title, grouptwo_path(grouptwo)) %></td>
          <td><%= grouptwo.description %></td>
          <td>
              <%= link_to("Edit", edit_grouptwo_path(grouptwo), class: "btn btn-xs btn-default")%>
              <%= link_to("Delete", grouptwo_path(grouptwo),    class: "btn btn-xs btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
