<div class="col-md-10 col-centered">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3>
          买！买！买！心得分享区
          <div class="pull-right">
            <%= link_to("New group", new_grouptwo_path, class: "btn btn-danger") %>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-boldered">
          <thead>
            <tr>
            <td>Title</td>
            <td>Description</td>
             <td>Creator </td>
            </tr>
          </thead>
          <tbody>
          <tbody>
            <% @grouptwos.each do |grouptwo| %>
              <tr>
                <td>#</td>
                <td><%= link_to(grouptwo.title, grouptwo_path(grouptwo)) %></td>
                <td><%= grouptwo.description %></td>
                <td> <%= grouptwo.user.email %> </td>
                <td>
                   <% if current_user && current_user == grouptwo.user %>
                    <%= link_to("Edit", edit_grouptwo_path(grouptwo), class: "btn btn-xs btn-default")%>
                    <%= link_to("Delete", grouptwo_path(grouptwo),    class: "btn btn-xs btn-default",
                                method: :delete, data: { confirm: "Are you sure?" } )%>
                   <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="text-center">
  <%= link_to("Back", pages_path) %>
</div>
