<div class="col-md-12">
  <div class="groupone">
    <%= link_to("New groupone", new_groupone_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Creator </td>
      </tr>
    </thead>
    <tbody>
      <% @groupones.each do |groupone| %>
        <tr>
          <td>#</td>
          <td><%= link_to(groupone.title, groupone_path(groupone)) %></td>
          <td><%= groupone.description %></td>
          <td> <%= groupone.user.email %> </td>
          <td>
            <% if current_user && current_user == groupone.user %>
              <%= link_to("Edit", edit_groupone_path(groupone), class: "btn btn-xs btn-default")%>
              <%= link_to("Delete", groupone_path(groupone),    class: "btn btn-xs btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
