<div class="col-md-12">
  <span class="pull-right">
    <% if current_user && current_user.is_member_of?(@groupone) %>
      <label class="label label-success"> 群组成员 </label>
       <%= link_to("Quit Group", quit_groupone_path(@groupone), method: :post, class: "btn btn-default") %>
    <% else %>
      <label class="label label-warning"> 不是群组成员 </label>
      <%= link_to("Join Group", join_groupone_path(@groupone), method: :post, class: "btn btn-default") %>
    <% end %>
  </span>
  <%= link_to("Write a essayone", new_groupone_essayone_path(@groupone), class: "btn btn-default pull-right")%>
  <div class="groupone">
    <% if current_user && current_user == @groupone.user %>
      <%= link_to("Edit", edit_groupone_path(@groupone), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @groupone.title %></h2>
  <p><%= @groupone.description %></p>
    <table class="table">
    <thead>
     <tr>
        <th>文章内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @essayones.each do |essayone| %>
        <tr>
          <td><%= essayone.content %></td>
          <td><%= essayone.user.email %></td>
          <td><%= essayone.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @essayones %>
  </div>

</div>
