<div class="col-md-10 col-centered">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="text-center">
          健康饮食活动区
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-boldered">
          <thead>
            <tr>
              <td>活动信息</td>
              <td>内容描述</td>
              <td>文章数量</td>
              <td>更新时间</td>
            </tr>
          </thead>
          <tbody>
           <% @jobs.each do |job| %>
             <tr>
               <td>
                 <%= link_to(job.title, job_path(job)) %>
               </td>
               <td>
                  <%= job.description %>
               </td>
               <td>
                 <%= job.resumes.count %>
               </td>
               <td>
                 <%= job.updated_at %>
               </td>
            </tr>
          <% end %>
         <tbody>
        </table>

      </div>
    </div>
</div>

<div class="text-center">
  <%= link_to("Back", pages_path) %>
</div>
