  <div class="col-md-10 col-centered">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3>
            <%= @job.title %>
            <!-- <%= simple_format(@job.description) %> -->
            <div class="pull-right">
               <%= link_to("Write a post", new_job_resume_path(@job), class: "btn btn-danger ") %>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <table class="table table-boldered">
            <thead>
                <tr>
                   <th>文章内容</th>
                   <th>图片</th>
                   <th>发表者</th>
                   <th>发表时间</th>
                 </tr>
            </thead>
            <tbody>
              <% @resumes.each do |resume| %>
                <tr>
                  <td><%= resume.content %></td>
                  <!-- <td><%= link_to("See the Image", resume.attachment_url)%></td> -->
                  <td>
                      <%= link_to job_resume_path(@job) do %>
                        <% if resume.image.present? %>
                          <%= image_tag(resume.image.thumb.url, class: "thumbnail") %>
                        <% else %>
                          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                        <% end %>
                      <% end %>
                  </td>
                  <td><%= resume.user.email %></td>
                  <td><%= resume.created_at %></td>
                </tr>
              <% end %>
           <tbody>
          </table>

          <div class="text-center">
            <%= will_paginate @resumes %>
          </div>

        </div>
      </div>
  </div>
  <div class="text-center">
    <%= link_to("Back", jobs_path) %>
  </div>

  
