<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">健康饮食活动区</h2>
        <p class="slogan">快来加入我们，让自己从此获得健康的身体!
          <br>
            健康饮食打卡活动，记录并分享自己的饮食习惯！
          <br>
            这里有强大亲友团，让你收获满满的正能量！
          <br>
            从此爱上那些会让自己身体越来越健康的食物！
        </p>
        <p class="lead">
          <br>
          <%= link_to '马上加入', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-one.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">读书会</h2>
        <p class="slogan">快来加入我们，让自己从此升级对健康的认知!
          <br>
          一起共读和健康相关的书籍！
          <br>
          多人共读一本书，收获更多的视角和观点！
          <br>
          让我们一起升级对健康的认知，一起共同成长！
        </p>
        <p class="lead">
          <br>
          <%= link_to '马上加入', groups_path, class: 'btn btn-danger' %>
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-two.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">同城小伙伴帮帮忙</h2>
        <p class="lead">
          <p class="slogan">快来加入我们，让自己找到同城小帮手!
            <br>
            你想找到那个和你一样热爱健康食物的她或他吗？
            <br>
            你还在为一个人弄dinner party 而苦恼吗？
            <br>
            你还在为今天一个人要不要逛街而苦恼吗？
            <br>
            只要在这里留下你的求助信息，同城小伙伴就会助你一臂之力！
          </p>
          <br>
          <%= link_to '马上加入', groupones_path, class: 'btn btn-danger' %>
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-three.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">买买买心得分享区</h2>
        <p class="lead">
          <p class="slogan">快来加入我们，以最快地速度和最实诚地价格买到自己想要地一切！
            <br>
            如果你在纠结买一款物美价廉的锅？
            <br>
            如果你在纠结去哪可以买到漂亮的连衣裙？
            <br>
            如果你在纠结，哪里可以吃到健康的晚餐？
            <br>
            那就加入我们吧，你一定可以找到那个令你满意的答案！！！
          </p>
          <br>
          <%= link_to '马上加入', grouptwos_path, class: 'btn btn-danger' %>
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-four.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
